<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamflix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Streamflix</h1>
        <div class="video-grid">
            <div class="video">
                <video controls autoplay>
                    <source src="{{ url_for('static', filename='video/videoStreaming.mp4') }}" type="video/mp4">
                    Tu navegador no soporta la reproducción de vídeos.
                </video>
            </div>
            <div class="video">
                <video controls autoplay>
                    <source src="{{ url_for('static', filename='video/videoStreaming.mp4') }}" type="video/mp4" >
                    Tu navegador no soporta la reproducción de vídeos.
                </video>
            </div>
            <div class="video" autoplay>
                <video controls>
                    <source src="{{ url_for('static', filename='video/videoStreaming.mp4') }}" type="video/mp4">
                    Tu navegador no soporta la reproducción de vídeos.
                </video>
            </div>    
        </div>
    </div>
</body>
</html>
